// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome/scss/font-awesome.scss";
@import "magnific-popup/dist/magnific-popup.css";
@import 'owl.carousel2/dist/assets/owl.carousel.css';

// General

html, body {
	height: 100%;
}

h3 {
	color: #41464b;
	text-transform: uppercase;
}

p {
	color: #64707b;
	font-size: 16px;
}



// Home
#home {
	height: 100%;
	width: 100%;
}

#home-cover {
	// assets/imageの中はimage-urlヘルパーを使って指定
	background-image: image-url('bg-home');
	height: 100%;
	width: 100%;
}

#home-content-box {
	height: 100%;
	width: 100%;
	display: table;
}

#home-content-box-inner {
	display: table-cell;
	vertical-align: middle;
}

#home-heading h3 {
	color: #fff;
	font-size: 55px;
	margin: 20px 0 20px 0;
	text-transform: uppercase;
}




// Services
.service-item {
	padding: 20px 0;
	margin-bottom: 20px;
	cursor: pointer;
}

.service-item-icon i {
	color: #34c6d3;
	float: left;
	padding: 15px;
	margin-right: 15px;
	width: 75px;
	text-align: center;
}

.service-item:hover .service-item-icon i {
	background-color: #34c6d3;
	color: #fff;
}

.service-item-title h3 {
	font-size: 20px;
	margin: 0 0 10px 0;
}

.service-item-desc {
	margin: 0;
	padding-left: 85px;
}




// About
#about-bg-diagonal {
	background-image: image-url('bg-about');
	width: 60%;
	height: 700px;
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
    float: right;
}

#about-content-box {
	float: left;
	height: 700px;
}

#about-content-box-outer {
	width: 100%;
	height: 100%;
	display: table;
}

#about-content-box-inner {
	display: table-cell;
	vertical-align: middle;
	padding-left: 60px;
}

#about .content-title h3 {
	text-align: left;
}

#about .content-title-underline {
	margin: 0 0 30px 0;
}

#about-desc p {
	margin-bottom: 30px;
}


// Work
.row.no-gutters [class*=col-] {
	padding-left: 0;
	padding-right: 0;
}
.image-wrapper {
	overflow: hidden;
}
.image-wrapper img{
	transition: .5s;
}

.image-wrapper img:hover {
	transform: scale(1.5)
}


// Team
.team-member {
	margin: 0 15px;
}

.team-member-info {
	padding: 10px 0 30px 0;
}

h4.team-member-name {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-top: 2px;
}

.team-member-designation {
	color: #34c6d3;
	font-size: 15px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1px;
	margin-top: 5px;
}

// Testimonials

#testimonial-cover {
	background-image: image-url('bg-testimonials');
}

#testimonials .content-box {
	background-color: rgba(0, 0, 0, .1);
}

#customers-testimonials {
	padding: 50px 0;
}

.testimonial img {
	max-width: 200px;
	margin: 0 auto 0 auto;
}

.testimonial blockquote {
	border: 0;
	font-style: italic;
	padding: 10px;
	position: relative;
}

.testimonial blockquote p {
	color: #fff;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
	color: #fff;
	font-style: normal;
	line-height: 1;
	font-size: 60px;
	position: absolute;
}

.testimonial blockquote::before {
	content: "\201C";
	top: 0;
	left: 0;
}

.testimonial blockquote::after {
	content: "\201D";
	right: 0;
}

.testimonial-author p {
	color: #fff;
}

.testimonial-author strong {
	display: block;
}

// Pricing

.pricing-box {
	border: 3px solid #34c6d3;
	padding: 50px 0;
	margin: 40px 0;
}

.pricing-box-lg {
	padding: 90px 0;
	margin: 0;
	background-color: #34c6d3;
}

.pricing-box-lg h4.pricing-title {
	color: #34c6d3;
	background-color: #fff;
}

.pricing-box-lg h3.pricing-value {
	color: #fff;
}

.pricing-box-lg ul li p {
	color: #fff;
}

h4.pricing-title {
	background-color: #34c6d3;
	color: #fff;
	display: inline-block;
	padding: 7px 15px;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 0 30px 0;
}

h3.pricing-value {
	font-size: 60px;
}

h3.pricing-value sup {
	font-size: 28px;
	vertical-align: super;
}

ul.pricing-spec {
	list-style: none;
	padding-left: 0;
	margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
	text-transform: uppercase;
}

// Stats

#stats-cover {
	background-image: image-url('bg-stats');
}

#stats .content-box {
	background-color: rgba(0,0,0,.8);
}

.stats-item {
	padding: 100px 0;
}

.stats-item i {
	color: #34c6d3;
}

.stats-item h2 {
	color: #fff;
	font-size: 35px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.stats-item p {
	color: #fff;
	text-transform: uppercase;
}

// Content
.content-box {
	padding: 60px 0 60px 0;
}

.content-title h3 {
	font-size: 30px;
	text-align: center;
	margin: 0 0 30px 0;
}

.content-title-white h3 {
	color: #fff;
}

.content-title-underline {
	width: 30px;
	height: 3px;
	background-color: #34c6d3;
	margin: 0 auto 30px auto;
}
// Parallax
.bg-parallax {
	background-repeat: none;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

// Buttons
.btn-general {
	border-width: 2px;
	border-radius: 0;
	padding: 12px 26px 12px 26px;
	font-size: 16px;
	text-transform: uppercase;
}

.btn-white {
	border-color: #fff;
	color: #fff;
}

.btn-white:hover, .btn-white:focus {
	background-color: #fff;
	color: #41464b
}

.btn-blue {
	border-color: #34c6d3;
	color: #34c6d3;
}

.btn-blue:hover, .btn-white:focus {
	background-color: #34c6d3;
	color: #fff;
}

// Animations
#home-cover, #home-heading, #home-btn {
	animation-duration: .5s;
}

#home-cover {
	animation-delay: .1s;
}

#home-heading {
	animation-delay: .5s;
}

#home-btn {
	animation-delay: .1s;
}

// Social-icons
.social-list {
	padding-left: 0;
	display: flex;
	justify-content: center;
}

.social-list li {
	list-style: none;
	width: 32px;
	height: 32px;
}

.social-icon {
	font-size: 17px;
}

.icon-gray i {
	color: #64787b;
}

.icon-gray i:hover {
	color: #34c6d3;
}

// for Owl carousel custom

.owl-dots {
  text-align: center;
  bottom: 5px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127,127,127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

.owl-dot.active {
  background-color: #34C6D3;
}

.owl-dots {
  text-align: center;
}
